<ion-header class="ion-no-border">
  <ion-toolbar color="new" class="ion-header">
    <ion-title color="light">Students</ion-title>
  </ion-toolbar>

  <ion-searchbar 
   placeholder="Search your student" color="light" [(ngModel)]="searchText" (ionChange)="searchStudents()">
  </ion-searchbar>

</ion-header>

<ion-content>

  <div class="log-out">
    <ion-buttons  (click)="addstudent()">
      <ion-icon name="person-add-outline" color="primary" slot="end"></ion-icon>
    </ion-buttons>
  </div>

  <div class="students-list-container">
    <ion-grid class="ion-padding-horizontal">
     <ion-row class="ion-align-items-center ion-margin-top" >
      <ion-col *ngFor="let student of students" size="6">
       <ion-card class="student-card" color="white" (click)="navigateToProfile(student)">

        <div class="image">
          <img src="{{student.images}}"/>
        </div>
        <ion-card-title class="s">{{student.firstName}}</ion-card-title>
        <ion-card-title class="s">{{student.lastName}}</ion-card-title>
       </ion-card>
      </ion-col>
     </ion-row>
    </ion-grid>
  </div>
</ion-content>