<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="ion-header">
    <ion-title color="light">Students</ion-title>
  </ion-toolbar>

  <ion-searchbar
    placeholder="Search your student"
    color="light"
    [(ngModel)]="searchText"
    (input)="searchStudents()"
  >
  </ion-searchbar>
</ion-header>

<ion-content>
  <div class="log-out">
    <ion-buttons (click)="addstudent()">
      <ion-icon name="person-add-outline" color="primary" slot="end"></ion-icon>
    </ion-buttons>
  </div>

  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addstudent()" >
      <ion-icon name="pencil-outline"></ion-icon>   
     </ion-fab-button>
  </ion-fab> -->

  <div class="students-list-container">
    <ion-grid class="ion-padding-horizontal">
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col
          *ngFor="let student of students; trackBy: trackByFunction"
          size="12"
          size-sm="6"
          size-md="4"
          size-lg="2.2"
        >
          <ion-card
            class="tab9-page__student-items"
            color="white"
            (click)="navigateToProfile(student)"
          >
            <img class="tab9-page__student-image" src="{{student.images}}" />
            <!-- <div class="image">
            </div> -->
            <h5 class="tab9-page__student-name">{{student.firstName}}</h5>
            <p class="tab9-page__student-name">{{student.lastName}}</p>
            <!-- <ion-card-header>{{student.gender}}</ion-card-header> -->
            <!-- <ion-card-title>{{student.yearOfStudy}}</ion-card-title> -->
            <!-- <ion-item>{{student.group}}</ion-item>
  <ion-item>{{student.email}}</ion-item>
  <ion-item>{{student.mobileNumber}}</ion-item> -->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addstudent()" >
      <ion-icon name="pencil-outline"></ion-icon>   
     </ion-fab-button>
  </ion-fab> -->
</ion-content>
