<ion-toolbar color="trasluscent">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/tab5"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <h1 class="course-regsiter-page__course-regiter-text">Enrolled Students</h1>

  <form (ngSubmit)="submitForm($event)">
    <ion-title
      ><span style="font-size: 16px; color: rgb(195, 195, 195)">Course:</span>
      {{courseName}}
    </ion-title>

    <ion-searchbar
      color="danger"
      class="course-regsiter-page__searchbar"
      placeholder="Find the student"
      (input)="searchCourseFunc($event)"
    ></ion-searchbar>

    <ion-item
      *ngFor="let student of students;"
      class="course-regsiter-page__checkbox-group-ion-item"
    >
      <ion-checkbox
        (ionChange)="checkboxChanged($event, student)"
        [checked]="student.enrolledCourse.isChecked"
      ></ion-checkbox>
      <div class="course-regsiter-page__checkbox-details-wrapper physics">
        <ion-label style="font-size: 14px">{{student.email}}</ion-label>
        <ion-label
          style="font-size: 12px; font-weight: bold; color: green"
          *ngIf="student.enrolledCourse.isChecked"
          >Passed</ion-label
        >
        <ion-label
          style="font-size: 12px; font-weight: bold; color: red"
          *ngIf="!student.enrolledCourse.isChecked"
          >Failed</ion-label
        >
      </div>
    </ion-item>
    <ion-button class="course-regsiter-page__submit-btn" type="submit"
      >Submit</ion-button
    >
  </form>
</ion-content>
