.course-regsiter-page__course-regiter-text {
  text-align: center;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

ion-item.course-regsiter-page__studentname-ion-item {
  --border-radius: 15px;
}

ion-searchbar.course-regsiter-page__studentname-searchbar {
  --border-radius: 20px;
  --background: #7573f5;
}

ion-searchbar.course-regsiter-page__searchbar {
  --border-radius: 20px;
}

ion-checkbox-group {
  margin-top: 40px;
}

ion-item.course-regsiter-page__checkbox-group-ion-item {
  --background: transparent;
}

.course-regsiter-page__checkbox-details-wrapper {
  margin-left: 20px;
  padding: 8px;
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.physics {
  background-color: #c1ffb1;
}

.chemistry {
  background-color: #bcb4fb;
}

.maths {
  background-color: #f896a4;
}

.course-regsiter-page__submit-btn {
  width: 100px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  scale: 0.8;
  --background: #ffaa01;
}
