<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Create a Blog</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab6" color=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <form [formGroup]="blogForm" (ngSubmit)="add()">
          <ion-item>
            <!-- <ion-label position="floating">Title:</ion-label> -->
            <ion-icon
              name="star-outline"
              class="icon-spacing"
              color="primary"
            ></ion-icon>
            <ion-input
              type="text"
              formControlName="title"
              placeholder="Title"
            ></ion-input>
            <ion-text
              *ngIf="blogForm.get('title')?.invalid && blogForm.get('title')?.touched"
              color="danger"
            >
              Title is required.
            </ion-text>
          </ion-item>

          <ion-item>
            <!-- <ion-label position="floating">Content:</ion-label> -->
            <ion-icon
              name="information-outline"
              color="success"
              class="icon-spacing"
            ></ion-icon>
            <ion-textarea
              formControlName="content"
              autoGrow="true"
              placeholder="Write your content here"
            ></ion-textarea>
            <ion-text
              *ngIf="blogForm.get('content')?.invalid && blogForm.get('content')?.touched"
              color="danger"
            >
              Content is required.
            </ion-text>
          </ion-item>

          <!-- <ion-item>
            <ion-icon name="image-outline" slot="start" color="primary"></ion-icon>
            <ion-label position="floating">Blog Image:</ion-label>
            <ion-input type="text" formControlName="images"></ion-input>
            <ion-text *ngIf="blogForm.get('images')?.invalid && blogForm.get('images')?.touched" color="danger">
              Course Image is required.
            </ion-text>
          </ion-item> -->

          <ion-item>
            <ion-icon
              name="image-outline"
              color="warning"
              class="icon-spacing"
            ></ion-icon>
            <ion-input
              formControlName="images"
              placeholder="Write image link here"
              type="file"
              (change)="onImageFileChange($event)"
            >
              <!--type="file"-->
            </ion-input>
            <!-- <ion-button color="new" (click)="uploadFiles('image')">Upload file</ion-button> -->
            <ion-button color="new" (click)="uploadFiles('image')">
              {{ uploadInProgressImage ? 'Uploading...' : (uploadStatusImage ?
              'Update Image' : 'Upload Image') }}
            </ion-button>
          </ion-item>
          <p>
            <b>Note:</b> Please upload a blog image before submitting the blog
          </p>

          <ion-item>
            <!-- <ion-label position="floating">Professor Name:</ion-label> -->
            <ion-icon
              name="person-outline"
              color="danger"
              class="icon-spacing"
            ></ion-icon>
            <ion-input
              type="text"
              formControlName="professorName"
              placeholder="Name of the professor"
            ></ion-input>
            <ion-text
              *ngIf="blogForm.get('professorName')?.invalid && blogForm.get('professorName')?.touched"
              color="danger"
            >
              Professor Name is required.
            </ion-text>
          </ion-item>

          <ion-button
            class="createblog-page__add-blog-btn"
            shape="round"
            expand="block"
            type="submit"
            [disabled]="blogForm.invalid"
            >Add Blog</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
