<ion-header class="ion-no-border">
  <ion-toolbar color="new">
    <ion-title>Create a Blog</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab6" color=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <form [formGroup]="blogForm" (ngSubmit)="add()">
          <ion-item>
            <ion-icon name="star-outline" class="icon-spacing" color="primary"></ion-icon>
            <ion-input type="text" formControlName="title" placeholder="Title"></ion-input>
            <ion-text *ngIf="blogForm.get('title')?.invalid && blogForm.get('title')?.touched" color="danger">
              Title is required.
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-icon name="information-outline" color="success" class="icon-spacing"></ion-icon>
            <ion-textarea formControlName="content" autoGrow="true" placeholder="Write your content here"></ion-textarea>
            <ion-text *ngIf="blogForm.get('content')?.invalid && blogForm.get('content')?.touched" color="danger">
              Content is required.
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-icon name="image-outline" color="warning" class="icon-spacing"></ion-icon>
            <input type="file" accept="image/*" (change)="onFileChange($event)" formControlName="images" />
          </ion-item>
          
          <ion-button color="new" (click)="uploadFiles('image')" expand="full">
            {{ uploadInProgressImage ? 'Uploading...' : (uploadStatusImage ? 'Update Image' : 'Upload Image') }}
          </ion-button>
          
          <p class="note">Please upload a blog image before submitting the blog</p>
          
          <ion-item>
            <ion-icon name="person-outline" color="danger" class="icon-spacing"></ion-icon>
            <ion-input type="text" formControlName="professorName" placeholder="Name of the professor"></ion-input>
            <ion-text *ngIf="blogForm.get('professorName')?.invalid && blogForm.get('professorName')?.touched" color="danger">
              Professor Name is required.
            </ion-text>
          </ion-item>

          <ion-button class="ion-margin" shape="round" color="new" expand="full" type="submit" [disabled]="blogForm.invalid">
            Add Blog
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
