// styles added by "manikanta"
.sign-in-page__bg-container {
  height: 100vh;
}

.sign-in-page__main-img {
  width: 100%;
}

.sign-in-page__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  color: rgb(140, 0, 255);
  font-weight: bold;
  text-align: center;
}

p {
  text-align: center;
}

.sign-in-page__login-form {
  width: 50%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
}

ion-input {
  border-radius: 40px;
  font-size: 14px;
}

ion-item {
  color: white;
  padding: 12px 10px;
  border-radius: 30px;
  --border-radius: 40px; /* Adjust border radius as needed */
  --background: #f5f5f5; /* Adjust background color as needed */
  --box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); /* Add a subtle box shadow */
}

.sign-in-page__login-btn {
  color: black;
  font-size: 16px;
  font-weight: bold;
  width: 40%;
  min-width: 100px;
  align-self: center;
  padding: 14px 0;
  border-radius: 30px;
  margin: 20px 0;
  outline: none;
  cursor: pointer;
  background-color: #ffaa01;
  border: 0;
}

a {
  margin: 10px;
  align-self: flex-end;
  font-size: 14px;
  text-decoration: none;
}

.signup-link {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .sign-in-page__bg-container {
    display: flex;
    align-items: center;
  }
  .sign-in-page__inner-wrapper {
    display: flex;
    flex-direction: row;
  }

  .sign-in-page__main-img {
    width: 50%;
    height: 100%;
  }
  .sign-in-page__login-form {
    width: 50%;
    height: 100%;
    padding: 0 4rem;
  }
}
