ion-content {
  // --background: #fcfcfd;
  // position: relative;

  // P {
  //   font-size: 16px;
  //   line-height: 22px;
  //   font-family: Arial, Helvetica, sans-serif;
  //   // color: #2197db;
  //   margin: 0;
  // }
}
// .today {
//   border-radius: 0 0 15px 15px;
// }
// .backbutton {
//   padding-left: 10px;
//   padding-top: 10px;
//   size: 10vh;
// }

// styles added by "manikanta"
.todo-home-page__todo-item {
  display: flex;
  justify-content: space-between;

  // background-image: linear-gradient(
  //   120deg,
  //   rgb(0, 255, 247),
  //   rgba(0, 174, 255, 0.611)
  // );
  // background-image: linear-gradient(120deg, #ba83de, #de83b0);
  // background-color: rgb(255, 255, 255);
  background-color: #fff1de;
  box-shadow: 0 4px 6px rgba(15, 15, 15, 0.2);
  // border: 1px solid rgba(103, 103, 103, 0.46);
  padding: 0 10px;
}

.todo-home-page__todo-item-priority-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.todo-home-page__todo-item-due-date {
  color: grey;
  font-size: 12px;
}

// ion-card-header {
//   display: flex;
//   flex-direction: column;
// }

.todo-home-page__todo-item-details-wrapper {
  // background-color: rgb(62, 110, 2);
}

.todo-home-page__todo-item-category {
  line-height: 15px;
}

.todo-home-page__todo-item-task-title {
  color: rgba(0, 0, 0, 0.416);
  font-size: 16px;
}

.todo-home-page__todo-btns-wrapper {
  // background-color: rgb(115, 0, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.todo-home-page__todo-btns {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  color: rgba(136, 135, 135, 0.804);
}

.todo-home-page__todo-add-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  // background-color: rgb(0, 136, 255);
  background-color: #ffaa01;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
}

ion-toolbar {
  --background: #ffaa01;
}

ion-item {
  --background: #ffaa01;
}
