// styles added by "manikanta"
.todo-home-page__todo-item {
  display: flex;
  justify-content: space-between;
  background-color: #fff1de;
  box-shadow: 0 4px 6px rgba(15, 15, 15, 0.2);
  padding: 0 10px;
}

.todo-home-page__todo-item-priority-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.todo-home-page__todo-item-due-date {
  color: grey;
  font-size: 12px;
}

.todo-home-page__todo-item-category {
  line-height: 15px;
}

.todo-home-page__todo-item-task-title {
  color: rgba(0, 0, 0, 0.416);
  font-size: 16px;
}

.todo-home-page__todo-btns-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.todo-home-page__todo-btns {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  color: rgba(136, 135, 135, 0.804);
}

.todo-home-page__todo-add-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #ffaa01;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
}

ion-toolbar {
  --background: #ffaa01;
}

ion-item {
  --background: #ffaa01;
}
