ion-header{
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    padding-bottom: 1vh;

    ion-toolbar{
        padding-left: 4vh;
        padding-right: 2vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-radius: 0px 0px 25px 25px;
        
        ion-searchbar{
    
            border-radius: 30px 30px 30px 30px;
    }
    }
}
ion-content{

      .end-btn {
        position: absolute;
        right: 0;
        bottom: 10vh;
        top: 0;
        // font-size:small;
        
      }
      // ion-card{
      //   height: 25vh;
      //   width: 20vh;
      //   color: light;
      
      //   ion-card-title{
      //     font-size: 1rem;
      //   }
      // }

      // .card-container{
      //   ion-card{
      //     padding-top: 1vh;
      //     height: 25vh;
      //     width: 20vh;
      //     color: light;
      //     margin: 1px;
  
      //     ion-card-title{
      //       padding-top: 2.5vh;
      //       font-size: 1rem;
      //       font-weight: 700;
      //     }
      //   }
      // }
      
    
    
}
.L{
    font-size: 1.2rem;
}
.m{
  padding-top: 1vh;
  font-size: 1.2rem;
  ion-button{
    padding-left: 27.4vh;
    margin: 0vh;
    border: 0vh;
  }
}
// .calender{
//   padding-right: 8vh;
// }


// .image{
//   // width: 20vh;
//   // height: 60%;
//   //object-fit:scale-down;
//   width: 100%;
//   height: 60%;
// }

// ion-searchbar {
//   --box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2); /* Adjust the shadow properties as desired */
// }

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Set the desired height */
  width: 100%; /* Set the desired width */
}

.fixed-image {
  // max-height: 50%;
  // max-width: 50%;
  height: auto;
  width: auto;
}

/* Add a class for responsive card styling */
.responsive-card {
  padding-top: 1vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// .responsive-card .image {
//   flex: 1; /* Allow the image to expand and take available space */
//   max-height: 60%; /* Set a maximum height for the image */
//   overflow: hidden; /* Hide any overflowing content */
//   max-width: 100%;
// }

.responsive-card .image {
  flex: 1;
  max-width: 100%;
  max-height: 100%; /* Set a maximum height for the image */
  object-fit: cover; /* Maintain aspect ratio and cover the entire card */
}

/* Style the card title and professor name */
.responsive-card ion-card-header {
  padding: 0.5rem;
}

.responsive-card ion-card-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* Add responsive card margin */
.responsive-card {
  margin: 0.5rem;
}
