ion-header {
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  padding-bottom: 1vh;

  ion-toolbar {
    --background: #ffaa01;
    padding-left: 4vh;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 0px 0px 25px 25px;

    ion-searchbar {
      border-radius: 30px 30px 30px 30px;
    }
  }
}
ion-content {
  .end-btn {
    position: absolute;
    right: 0;
    bottom: 10vh;
    top: 0;
  }
}
.L {
  font-size: 1.2rem;
}
.m {
  padding-top: 1vh;
  font-size: 1.2rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Set the desired height */
  width: 100%; /* Set the desired width */
}

.fixed-image {
  height: auto;
  width: auto;
}

/* Add a class for responsive card styling */
.responsive-card {
  padding-top: 1vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.responsive-card .image {
  flex: 1;
  max-width: 100%;
  max-height: 100%; /* Set a maximum height for the image */
  object-fit: cover; /* Maintain aspect ratio and cover the entire card */
}

/* Style the card title and professor name */
.responsive-card ion-card-header {
  padding: 0.5rem;
}

.responsive-card ion-card-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* Add responsive card margin */
.ion-no-border {
  z-index: 1;
}

.responsive-card {
  margin: 0.5rem;
}

// styles added by "manikanta"
ion-header {
  z-index: 1;
}

ion-content {
  z-index: 10;
}

.tab5-page__course-card {
  background-color: #fff1de;
}

ion-card-header {
  color: rgb(85, 85, 85);
}

ion-card-title {
  font-weight: bold;
  color: black;
}

.tab5-page__course-card-img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  cursor: pointer;
}

#popup-card {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 10rem;
  background-color: rgba(0, 0, 0, 0.468);
}

.popup-details-wrapper {
  min-width: 180px;
  padding: 20px;
  background-color: rgb(103, 103, 103);
  border-radius: 10px;
}

.popup-card-btns-wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  border: 0;
  font-size: 12px;
  font-weight: bold;
}

.accept {
  background-color: #ffaa01;
}

.cancel {
  background-color: rgb(255, 0, 0);
}

.accept:hover {
  background-color: #ffaa018c;
  transform: scale(1.1);
}

.cancel:hover {
  background-color: rgb(185, 0, 0);
  transform: scale(1.1);
}

.course-content-and-delet-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.options-btn {
  outline: none;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: black;
  font-size: 18px;
  padding: 10px;
}

.options-card {
  padding: 0;
  position: absolute;
  bottom: 20px;
  right: 30px;
  z-index: 10;
  background-color: black;
  border-radius: 6px;
  overflow: hidden;
}

.option-item {
  list-style-type: none;
  padding: 10px 18px;
  cursor: pointer;
}

.option-item:hover {
  background-color: rgb(68, 68, 68);
}

.update-course-details-popup-card {
  position: relative;
  top: -50px;
  margin-bottom: 6rem;
  z-index: 100px;
}

ion-card-content {
  border-radius: 10px;
  background-color: rgba(147, 147, 147, 0.455);
}

ion-item {
  font-size: 12px;
  margin-top: 10px;
  border-radius: 10px;
}

ion-item ion-icon {
  margin-right: 10px;
  font-size: 18px;
}

#upload-img-btn {
  font-size: 10px;
}

.close-update-modal-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
}

.close-update-modal-btn:hover {
  color: rgb(74, 74, 74);
}

.tab5-page__save-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab5-page__save-btn {
  scale: 0.8;
  width: 160px;
  height: 45px;
  --border-radius: 50px;
  --background: #ffaa01;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .tab5-page__course-card-img {
    height: 160px;
    object-fit: fill;
  }
}
