ion-toolbar{
   border-radius: 0 0 10px 10px;
}
ion-title{
    text-align: center;
    padding-right: 10vh;
    font-size: medium;
}
ion-avatar{
    outline:auto;
    width: 10rem; 
    height: 10rem;
    //margin-top: 5rem;
    position:absolute;
    left: 28%;
   //  top: 2%;
    transform: translate(-50%, -50%, -80%, -80%);
}
.school{
   padding-top: 10vh;
   padding-left: 1vh;
   padding-right: 1vh;
}
.fname{
    padding-top: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;
 }
 .lname{
    padding-top: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;
 }
 .email{
    padding-top: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;
 }
 .emergency{
    padding-top: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;
 }
 .center-btn{
    font-size: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    position: absolute;
    right: 0;
    left: 0;
}
.camera{
   // height: vh;
   //margin-top: 5rem;
   position:fixed;
   left: 56%;
   top: 21%;
   // transform: translate(-50%, -50%, -80%, -80%);
   // padding-right: 1px;
}
.avatar-container {
   margin-top: 50px;;
   position: relative;
   display: inline-block;
 }
 
 .camera-button {
   position: absolute;
   bottom: 14px;
   right: 14px;
   transform: translate(50%, 50%);
 }
 
 .camera-icon {
   font-size: 20px; /* Adjust the size as needed */
 }
 .ok{
   position: absolute;
   top: 0;
   right: 80px;
 }
 p{
   font-size: 10px;
 }