// styles added by "manikanta"
ion-toolbar {
  border-radius: 0 0 10px 10px;
  --background: #ffaa01;
}

ion-title {
  text-align: center;
  padding-right: 4.5rem;
}

.edit-profile-page__profile-img-wrapper {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-avatar {
  width: 10rem;
  height: 10rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.camera-button {
  position: absolute;
  bottom: -4%;
  right: -4%;
  border: 2px solid rgb(202, 202, 202);
  border-radius: 50%;
}

ion-item {
  margin-top: 10px;
  font-size: 14px;
  border-radius: 10px;
}

.edit-profile-page__update-profile-btn {
  height: 45px;
  margin-top: 10px;
  width: 100%;
  --background: #ffaa01;
}
