<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/otp" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Add the "Update Password" section -->
  <ion-card>
    <ion-item [disabled]="true" color="light" lines="none">
      <ion-icon size="small" name="mail-open-outline" slot="start"></ion-icon>
      <!-- <ion-label position="floating">Email</ion-label> -->
      <ion-input fill="none" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item color="light" lines="none">
      <ion-icon size="small" name="lock-closed-outline" slot="start"></ion-icon>
      <ion-icon
        size="small"
        [name]="showNewPassword ? 'eye-off-outline' : 'eye-outline' "
        slot="end"
        (click)="onclickNewPasswordEyeIcon()"
      ></ion-icon>
      <!-- <ion-label position="floating">New Password</ion-label> -->
      <ion-input
        fill="none"
        [type]="showNewPassword ? 'text' : 'password'"
        [(ngModel)]="newPassword"
        placeholder="New Password"
      ></ion-input>
    </ion-item>

    <ion-item color="light" lines="none">
      <ion-icon size="small" name="lock-closed-outline" slot="start"></ion-icon>
      <ion-icon
        size="small"
        [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline' "
        slot="end"
        (click)="onclickConfirmPasswordEyeIcon()"
      ></ion-icon>
      <!-- <ion-label position="floating">Confirm Password</ion-label> -->
      <ion-input
        fill="none"
        [type]="showConfirmPassword ? 'text' : 'password'"
        [(ngModel)]="confirmPassword"
        placeholder="Confirm Password"
      ></ion-input>
    </ion-item>

    <ion-label *ngIf="!passwordMatched"
      >Password Didn't match, please check passwords</ion-label
    >

    <ion-button (click)="updatePassword()">Update Password</ion-button>
  </ion-card>
</ion-content>
