<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Blogs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-left">
      <ion-col
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3"
        size-xl="3"
        class="tab2-page__allblogs-row-item"
        *ngFor="let item of blogs"
      >
        <ion-card (click)="cardClick(item)" class="tab2-page__blogs-card">
          <img class="tab2-page__allblogs-card-img" src="{{item.images}}" />
          <ion-card-content color="light">
            <ion-card-title>{{ item.title }}</ion-card-title>

            <p class="tab2-page__allblogs-card-name">{{ item.Name }}</p>
            <p class="tab2-page__allblogs-card-timestamp">
              {{item.timestamp }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
