// styles added by "manikanta"
.tab2-page__blogs-card {
  border-radius: 10px;
  background-color: #fff1de;
}

.tab2-page__allblogs-card-img {
  width: 100%;
  height: 200px;
  object-fit: fill;
}

.tab2-page__allblogs-card-timestamp {
  color: grey;
}

.tab2-page__allblogs-card-name {
  font-size: 16px;
  font-weight: bold;
  color: grey;
}

ion-card-title {
  color: rgb(0, 153, 255);
  font-weight: bold;
}

ion-item {
  color: rgb(163, 163, 163);
}

ion-toolbar {
  --background: #ffaa01;
}
