ion-toolbar{
   border-radius: 0 0 0px0px;
}
ion-title{
    font-size: 1.1em;
    padding-left: 0px;
}
// ion-item{
//     padding: 5pxpx;

// }
.header{
    font-size: 1.3em;
    font-weight: bolder;
    border-radius: 0 0 15px 15px;

}
// ion-item {
//     --padding-start: 10px; /* Adjust padding as needed */
//     --padding-end: 10px; /* Adjust padding as needed */
//     --border-radius: 20px; /* Adjust border radius as needed */
//     --background: #f2cfcf; /* Adjust background color as needed */
//   }

ion-item {
    padding-top: 2vh;
    --padding-start: 10px; /* Adjust padding as needed */
    --padding-end: 10px; /* Adjust padding as needed */
    --border-radius: 40px; /* Adjust border radius as needed */
    --background: #f5f5f5; /* Adjust background color as needed */
    --box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); /* Add a subtle box shadow */
  }
  
  ion-input {
    border: none;
    --padding-start: 0;
    --padding-end: 0;
    color: rgb(64, 64, 64);

  }

  ion-select{
    color:  rgb(64, 64, 64);
  }

  ion-item ion-textarea {
    color: rgb(64, 64, 64);
  }
  
  
  .background-container {
    //background-image: url('././../../../assets/'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    padding: 0px;
  }

  .icon-spacing {
    margin-right: 15px; /* Adjust the value as per your preference */
  
  }
  
  .input-spacing {
    margin-left: 10px; /* Adjust the value as per your preference */
  }

  .icon-align{
    margin-right: 15px;
    margin-top: 17px;
  }
  
  .white-text {
    color: rgb(65, 64, 64);
  }
  ion-card {
    border: 1px solid #100f0f; /* Adjust the color and thickness as needed */
    border-radius: 8px; /* Adjust the border radius as needed */
  }
  ion-card-header.white-text {
    color: #2c2b2b; /* Change this to your desired text color */
    font-weight: bold;
  }