ion-toolbar {
  --background: #ffaa01;
}
ion-title {
  font-size: 1.1em;
  padding-left: 0px;
}

ion-item {
  border-radius: 10px;
  margin: 10px 0;
}

.background-container {
  background-size: cover;
  background-position: center;
  padding: 0px;
}

.icon-spacing {
  margin-right: 15px; /* Adjust the value as per your preference */
}

.input-spacing {
  margin-left: 10px; /* Adjust the value as per your preference */
}

.icon-align {
  margin-right: 15px;
  margin-top: 17px;
}

.white-text {
  --background: #ffaa01;
}
ion-card {
  border: 1px solid #100f0f; /* Adjust the color and thickness as needed */
  border-radius: 8px; /* Adjust the border radius as needed */
}
ion-card-header.white-text {
  color: #2c2b2b; /* Change this to your desired text color */
  font-weight: bold;
}

ion-button {
  --background: #ffaa01;
  height: 45px;
}
