ion-header{
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    padding-bottom: 1vh;

    ion-toolbar{
        padding-left: 4vh;
        padding-right: 2vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-radius: 0px 0px 25px 25px;
        
        
          
    }
}
ion-content{
      
      .end-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        font-size:small;
        // font-weight: 1000;

        
      }
      // ion-card{
      //   height: 25vh;
      //   width: 20vh;
      //   color: light;

      //   ion-card-title{
      //     padding-top: 2.5vh;
      //     font-size: 1rem;
      //     font-weight: 700;
      //   }
      // }
    // .card-container{
    //   ion-card{
    //     padding-top: 1vh;
    //     height: 25vh;
    //     width: 20vh;
    //     color: light;
    //     margin: 1px;

    //     ion-card-title{
    //       padding-top: 2.5vh;
    //       font-size: 1rem;
    //       font-weight: 700;
    //     }
    //   }
    // }

      .image{
        // width: 20vh;
        // height: 60%;
        //object-fit:fill;
        width: 100%;
        margin: auto;
        // display:block;
        position: inherit;
      }
      .L{
        font-size: 1.2rem;
    }
    
    
}
.calender{
  padding-right: 8vh;
}

/* Add a class for responsive card styling */
.responsive-card {
  padding-top: 1vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.responsive-card .image {
  flex: 1; /* Allow the image to expand and take available space */
  max-height: 100%; /* Set a maximum height for the image */
  overflow: hidden; /* Hide any overflowing content */
  max-width: 100%; /* Adjust this value as needed */
}

/* Style the card title and professor name */
.responsive-card ion-card-header {
  padding: 0.5rem;
}

.responsive-card ion-card-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* Add responsive card margin */
.responsive-card {
  margin: 0.5rem;
}

