<ion-header class="ion-no-border">
  <ion-toolbar color="new" class="ion-header">
    <app-greeting></app-greeting>
    
    <ion-fab vertical="top" horizontal="end" side="right">
      <ion-fab-button color="transprent" size="small">
          <ion-icon name="notifications-outline" size="small"></ion-icon>
      </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="top" horizontal="end" class="calender" side="left">
    <ion-fab-button color="transprent" (click)="addTask()" size="small">
      <ion-icon name="calendar-number-outline" size="small"></ion-icon>
    </ion-fab-button>
  </ion-fab>
   <ion-searchbar 
    placeholder="Search your topic" color="transparent" [(ngModel)]="searchText" style="--border-radius: 30px;"> <!--(ionInput)="search($event)">-->
      <!--<ion-fab vertical="top" horizontal="end">
        <ion-fab-button color="transparent">
            <ion-icon name="mic-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>-->
    </ion-searchbar>
  

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--<ion-title color="black">
    <h3 class="title-with-button">Explore categories
      <ion-button class="end-btn" fill="clear">See all</ion-button></h3>
  </ion-title>-->

  <div class="card-container">
    <ion-grid class="ion-padding-horizontal">
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="12">
          <ion-label>Explore categories
            <ion-button class="end-btn" fill="clear" (click)="showAllCards()">See all</ion-button>
          </ion-label>
        </ion-col>
        <ion-col size="6" *ngFor="let item of Course | searchFilter: searchText: 'CourseName'">
          <!-- here iam giving item.id -->
          <ion-card color="" (click)="cardClicked(item)">
            <div class="image">
              <img src="{{item.CourseImage}}" />
              <img src= />

            </div>
            <ion-card-header>
              <ion-card-title>
                {{ item.CourseName }}
              </ion-card-title>
              {{item.ProfessorName}}

            </ion-card-header>
            <!-- <ion-card-content>
              {{item.ProfessorName}}
            </ion-card-content> -->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <img src="/images/13c27634864774b9f1fe3dc39a426f11"> -->
  
</ion-content>
