<ion-header class="ion-no-border">
  <ion-toolbar color="new" class="ion-header">
    <ion-title color="light">Employees</ion-title>
  </ion-toolbar>
  <ion-searchbar 
    placeholder="Search your professor" color="light" [(ngModel)]="searchText" (ionChange)="searchStudents()">
  </ion-searchbar>
</ion-header>

<ion-content>

  <div class="log-out">
    <ion-buttons  (click)="addProfessor()">
      <ion-icon name="person-add-outline" color="primary" slot="end"></ion-icon>
    </ion-buttons>
  </div>

  <div class="professor-cards">
    <ion-grid class="ion-padding-horizontal">
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="6" *ngFor="let professor of professors">
          <ion-card class="professor-card" (click)="cardClick(professor)">
            <div class="card-header">
              <img src="{{ professor.images }}" class="card-image" />
            </div>
            <ion-card-content>
              <ion-card-title class="professor-name">{{ professor.firstName }} {{ professor.lastName }}</ion-card-title>
              <ion-card-subtitle class="professor-subject">{{ professor.subjects }}</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>