<ion-header class="ion-no-border">
  <ion-toolbar class="ion-header">
    <ion-title color="dark">Employees</ion-title>
  </ion-toolbar>
  <ion-searchbar
    placeholder="Search your professor"
    color="light"
    [(ngModel)]="searchText"
    (input)="searchStudents()"
  >
  </ion-searchbar>
</ion-header>

<ion-content>
  <div class="log-out">
    <ion-buttons (click)="addProfessor()">
      <ion-icon name="person-add-outline" color="primary" slot="end"></ion-icon>
    </ion-buttons>
  </div>

  <div class="professor-cards">
    <ion-grid class="ion-padding-horizontal">
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col
          *ngFor="let professor of professors; trackBy: trackByFunction"
          size="12"
          size-sm="6"
          size-md="4"
          size-lg="2.2"
        >
          <ion-card
            class="tab10-professor-items"
            color="white"
            (click)="cardClick(professor)"
          >
            <img class="tab10-professor-image" src="{{professor.profile}}" />

            <ion-title class="tab10-professor-name" textWrap="true">
              {{ professor.firstName }} {{ professor.lastName }}
            </ion-title>

            <ion-label class="tab10-professor-subjects"
              >{{ professor.subjects }}</ion-label
            >
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
