ion-header{
    padding-bottom: 0;
}
ion-toolbar{
    border-radius: 0 0 10px 10px;
}


ion-label{
    font-size: 5em;
    font-weight: bold;
    
}
ion-note{
    font-size: 1rem;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}
ion-card{
    border-radius: 5px;
    border: 1px solid #8d8585; /* Adjust the color and thickness as needed */
    border-radius: 8px; /* Adjust the border radius as needed */
    
}
// ion-button{
//     // border-radius: 5px;
//     // border: 1px solid #8d8585; /* Adjust the color and thickness as needed */
//     // border-radius: 8px;
// }
.buttons{
    padding-left: 40px;
    
    
}
.update{
    font-size: 0.8em;
}
.del{
    font-size: 0.8em;
}
.addWeek{
    font-size: 1em;

}
p{
    padding-left: 4vh;
    padding-top: 3vh;
}
.card-container {
    max-height: 300px; /* Adjust the height as desired */
    overflow-y: auto;
  }

 .addWeek{
    padding-top: 8vh;
    padding-right: 3vh;
 } 
 .content-padding {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  .card-margin {
   
    margin-left: -15px;
    margin-right: -15px;
  }
 