<ion-toolbar color="trasluscent">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/student-profile"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <h1 class="course-regsiter-page__course-regiter-text">Course Register</h1>

  <form (ngSubmit)="submitForm($event)">
    <ion-title
      ><span style="font-size: 16px; color: rgb(198, 198, 198)"
        >Student Name:</span
      >
      {{studentFirstName}}
    </ion-title>

    <ion-searchbar
      color="danger"
      class="course-regsiter-page__searchbar"
      placeholder="Find the course"
      (input)="searchCourseFunc($event)"
    ></ion-searchbar>

    <ion-item
      *ngFor="let course of courses;"
      class="course-regsiter-page__checkbox-group-ion-item"
    >
      <ion-checkbox
        (ionChange)="checkboxChanged($event, course)"
        [checked]="course.isChecked"
      ></ion-checkbox>
      <div class="course-regsiter-page__checkbox-details-wrapper physics">
        <ion-label>{{course.CourseName}}</ion-label>
      </div>
    </ion-item>
    <ion-button class="course-regsiter-page__submit-btn" type="submit"
      >Submit</ion-button
    >
  </form>
</ion-content>
