ion-list{
    padding-bottom: 350px;
}
ion-header{
    --ion-background-color: rgb(63, 127, 224);
}
ion-toolbar{
    border-radius: 0 0 10px 10px;

}
ion-title{
    padding-left: 0px;
    margin-left: 0px;
    font-weight: bold;
}