ion-list {
  padding-bottom: 350px;
}
ion-header {
  --ion-background-color: rgb(63, 127, 224);
}
ion-toolbar {
  border-radius: 0 0 10px 10px;
  --background: #ffaa01;
}
ion-title {
  padding-left: 0px;
  margin-left: 0px;
  font-weight: bold;
}
ion-item {
  border-radius: 10px;
  margin-top: 15px;
  // border-radius: 50px;
  // --background: #fff1de;
  // box-shadow: 0 4px 6px rgba(15, 15, 15, 0.2);
  // margin-top: 15px;
}

// .update-blog-page__upload-img-btn {
//   scale: 0.8;
// }

.update-blog-page__bottom-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding: 4rem 0;
}

.update-blog-page__form-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 60%;
  min-width: 320px;
}

// ion-input {
//   border: none;
//   --padding-start: 0;
//   --padding-end: 0;
//   color: rgb(64, 64, 64);
// }

.icon-spacing {
  margin-right: 15px;
}
ion-icon {
  font-size: 24px;
}
.input-spacing {
  margin-left: 10px;
}

.icon-align {
  margin-right: 15px;
  margin-top: 17px;
}
p {
  margin-top: 0%;
  margin-bottom: 1%;
  font-size: 12px;
  padding-left: 15px;
  color: rgb(229, 81, 81);
}

// ion-textarea {
//   color: rgb(74, 74, 74);
// }

.update-blog-page__update-button {
  margin-top: 30px;
  --background: #ffaa01;
  height: 45px;
}
