.notification-header {
  height: 50px;
}

ion-toolbar {
  --background: #ffaa01;
}

.coming-soon-text {
  height: calc(100vh - 50px);
  text-align: center;
}

@media screen and (max-width: 767px) {
  .coming-soon-text {
    display: none;
  }
}
