ion-item {
  border-radius: 50px;
  padding: 10px;
}

div {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow to select fields */
}

ion-header {
  --ion-background-color: blue;
  border-radius: 20px;
}
ion-list {
  padding-bottom: 150px;
}
ion-icon {
  color: rgb(62, 162, 228);
}
ion-title {
  padding-left: 9vh;
}

// styles added by "manikanta"
ion-toolbar {
  --background: #ffaa01;
}

.student-default-img {
  width: 20%;
  min-width: 200px;
}

#studentImg {
  display: flex;
  background-color: red;
}

ion-button {
  --background: #ffaa01;
  margin-top: 20px;
  height: 45px;
}
