<ion-header>
  <ion-toolbar>
    <ion-title>Add-Student</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab9" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="studentForm" (ngSubmit)="submitForm()">
      <div class="form-container">
        <ion-item>
          <!-- <ion-label position="floating">FirstName</ion-label> -->
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-input
            type="text"
            placeholder="Enter your first name"
            formControlName="firstName"
            name="firstName"
          ></ion-input>
        </ion-item>

        <ion-item>
          <!-- <ion-label position="floating">LastName</ion-label> -->
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-input
            type="text"
            placeholder="Enter your last name"
            formControlName="lastName"
            name="lastName"
          ></ion-input>
        </ion-item>

        <ion-item shape="round" fill="outline" lines="none">
          <ion-label>
            <ion-icon name="man-outline" slot="start"></ion-icon>
            Gender
          </ion-label>
          <ion-select formControlName="gender">
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item shape="round" fill="outline" lines="none">
          <ion-label>
            <ion-icon name="school" slot="start" slot="start"></ion-icon>
            Year of Study
          </ion-label>
          <ion-select formControlName="yearOfStudy">
            <ion-select-option value="1">First Year</ion-select-option>
            <ion-select-option value="2">Second Year</ion-select-option>
            <ion-select-option value="3">Third Year</ion-select-option>
            <ion-select-option value="4">Fourth Year</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item shape="round" fill="outline" lines="none">
          <ion-label>
            <ion-icon name="book-outline" slot="start"></ion-icon>
            Group
          </ion-label>
          <ion-select formControlName="group">
            <ion-select-option value="mpcs">MPCs</ion-select-option>
            <ion-select-option value="bcom">B.Com</ion-select-option>
            <ion-select-option value="bzc">BZC</ion-select-option>
            <ion-select-option value="bsc">BSc</ion-select-option>
            <ion-select-option value="ba">BA</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item fill="outline" shape="round" lines="none">
          <ion-icon name="mail-open-outline" slot="start"></ion-icon>
          <!-- <ion-label position="floating"></ion-label> -->
          <ion-input
            placeholder="Email"
            formControlName="email"
            name="email"
          ></ion-input>
        </ion-item>

        <!-- create password field here -->
        <ion-item fill="outline" shape="round" lines="none">
          <ion-icon name="eye" slot="start"></ion-icon>
          <!-- <ion-label position="floating">Password</ion-label> -->
          <ion-input
            type="password"
            placeholder="Enter your password"
            formControlName="password"
            name="password"
          ></ion-input>
        </ion-item>

        <ion-item fill="outline" shape="round" lines="none">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <!-- <ion-label position="floating"></ion-label> -->
          <ion-input
            placeholder="mobile number"
            formControlName="mobileNo"
            name="mobileNo"
            type="tel"
          ></ion-input>
        </ion-item>

        <ion-item fill="outline" shape="round" lines="none">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <!-- <ion-label position="floating"></ion-label> -->
          <ion-input
            placeholder="emergency number"
            formControlName="emergency"
            name="emergency"
            type="tel"
          ></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label position="floating">Address</ion-label>
          <ion-textarea
            type="text"
            placeholder="Enter your address (h.no, street, city, district, state)"
            formControlName="address"
            name="address"
            autoGrow="true"
          ></ion-textarea>
        </ion-item>

        <ion-item class="input-item">
          <ion-icon name="link-outline" slot="start"></ion-icon>
          <ion-label position="floating">Image Url</ion-label>
          <ion-textarea
            type="text"
            placeholder="Paste image link here"
            formControlName="profile"
            name="profile"
            autoGrow="true"
          ></ion-textarea>
        </ion-item>

        <!-- <ion-item id="studentImg">
          <ion-icon name="link-outline"></ion-icon>
          <ion-label position="floating">Image Url</ion-label>
          <ion-input
            type="text"
            formControlName="profile"
            placeholder="paste image link here"
          ></ion-input> -->

        <!-- for default image url -->
        <!-- <img
            class="student-default-img"
            [src]="studentForm.get('profile')?.value || defaultImageUrl"
            alt="Default Image"
          /> -->
        <!-- </ion-item> -->
      </div>

      <!-- create two feilds here , one schoolname, school code -->
      <ion-item class="input-item">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label position="floating">School Name</ion-label>
        <ion-textarea
          type="text"
          placeholder="Enter your School Name"
          name="school"
          autoGrow="true"
          [disabled]="true"
          value="{{school}}"
        ></ion-textarea>
        <!-- <ion-textarea
          type="text"
          placeholder="Enter SchoolName here"
          formControlName="school"
          name="school"
          autoGrow="true"
          [disabled]="true"
          value="{{schoolId}}"
        ></ion-textarea> -->
      </ion-item>

      <ion-item class="input-item">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label position="floating">School Id</ion-label>
        <ion-textarea
          type="text"
          placeholder="Enter your School Id"
          name="schoolId"
          autoGrow="true"
          [disabled]="true"
          value="{{schoolId}}"
        ></ion-textarea>
        <!-- <ion-textarea
          type="text"
          placeholder="Enter your SchoolId"
          formControlName="schoolId"
          name="schoolId"
          autoGrow="true"
          [disabled]="true"
        ></ion-textarea> -->
      </ion-item>

      <ion-button shape="round" expand="full" type="submit">Submit</ion-button>
    </form>
  </ion-list>
</ion-content>
