<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Blog Content</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="10" size-lg="8" size-xl="6" *ngIf="blog">
        <ion-card-content color="danger">
          <ion-card-title>{{blog.title}}</ion-card-title>
        </ion-card-content>

        <ion-card-content color="light" class="ion-card-content">
          <ion-img src="{{blog.images}}" /><br /><br />
          <p style="text-align: justify">{{ blog.content }}</p>

          <ion-item class="writer">{{ blog.Name }}</ion-item>
          <div class="icons">
            <ion-icon
              *ngIf="isBlogLiked"
              name="heart"
              color="danger"
              style="font-size: 20px"
              (click)="dislikeBlog()"
            ></ion-icon>

            <ion-icon
              *ngIf="!isBlogLiked"
              name="heart-outline"
              color="danger"
              style="font-size: 20px"
              (click)="likeBlog()"
            ></ion-icon>
            {{ blog.likedBy.length }}

            <ion-button
              style="margin-left: 20px; scale: 0.8"
              fill="dark"
              color="translucent"
              (click)="toggleCommentSection()"
            >
              <ion-icon
                name="chatbox-outline"
                slot="start"
                expand="full"
                color="dark"
              ></ion-icon>
              Comment
            </ion-button>

            <ion-label style="font-size: 12px">
              {{ blog.timestamp | date: 'yyyy-MM-dd' }} {{ blog.timestamp |
              date: 'hh:mm a' }}
            </ion-label>
          </div>
        </ion-card-content>

        <!-- Comment section -->
        <ion-item *ngIf="showCommentSection">
          <ion-textarea
            [(ngModel)]="commentText"
            placeholder="Enter your comment"
          ></ion-textarea>
          <ion-button (click)="postComment()" expand="full" color="new"
            >Post Comment</ion-button
          >
        </ion-item>

        <ul class="blog-content-page__comments-list">
          <li
            class="blog-content-page__comments-list-item"
            *ngFor="let comment of blog.comments"
          >
            <img
              class="blog-content-page__comments-list-item-profile-img"
              src="{{comment.userDetails.profile}}"
            />
            <ion-card
              class="blog-content-page__comments-list-item-email-and-comment-wrapper"
            >
              <p class="blog-content-page__comments-list-item-fullname">
                {{comment.userDetails.firstName}}
              </p>
              <p class="blog-content-page__comments-list-item-comment">
                {{comment.comment}}
              </p>
            </ion-card>
          </li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
