<ion-header class="ion-no-border">
  <ion-toolbar color="new">
    <ion-title>Blog Content</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col
        size="12"
        size-md="10"
        size-lg="8"
        size-xl="6"
        *ngFor="let item of blogs"
      >
        <!-- <ion-card class="card-margin"> -->
        <!-- <ion-card-header>
            <ion-card-title>{{ item.title }}</ion-card-title>
          </ion-card-header> -->

        <ion-card-content color="danger">
          <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-content>

        <ion-card-content color="light" class="ion-card-content">
          <ion-img src="{{item.images}}" /><br /><br />
          <!-- <ion-item color="primary">{{ item.timestamp | date: 'yyyy-MM-dd' }} {{ item.timestamp | date: 'hh:mm a' }}</ion-item> Display the date and time -->
          <div>
            <p style="text-align: justify">{{ item.content }}</p>
          </div>
          <!-- <ion-item class="a"> {{ item.timestamp | date: 'yyyy-MM-dd' }} {{ item.timestamp | date: 'hh:mm a' }}<br></ion-item> -->
          <!-- <ion-item>{{ item.Name }}</ion-item> -->

          <ion-item class="writer">{{ item.Name }}</ion-item>
          <div class="line"></div>
          <div class="icons">
            <!-- <ion-icon
              name="thumbs-up-outline"
              slot="start"
              class="icon1"
              (click)="likePost()"
              expand="full"
            ></ion-icon -->
            <ion-icon
              *ngIf="isBlogLiked"
              name="heart"
              style="font-size: 20px"
              (click)="dislikeBlog()"
            ></ion-icon>

            <ion-icon
              *ngIf="!isBlogLiked"
              name="heart-outline"
              style="font-size: 20px"
              (click)="likeBlog()"
            ></ion-icon>
            <!-- {{ item.likes.length }} -->
            <!-- <ion-icon
              *ngIf="isBlogLiked"
              name="heart-empty"
              class="icon1"
              (click)="dislikeBlog()"
            ></ion-icon> -->

            {{ item.likedBy.length }}
            <!-- Like -->

            <div class="icon-space"></div>

            <ion-button color="translucent" (click)="toggleCommentSection()">
              <ion-icon
                name="chatbox-outline"
                slot="start"
                class="icon"
                expand="full"
              ></ion-icon
              >Comment
            </ion-button>

            <div class="space"></div>

            {{ item.timestamp | date: 'yyyy-MM-dd' }} {{ item.timestamp | date:
            'hh:mm a' }}
          </div>
          <!-- <ion-row class="button-row">
              <ion-col size="6" class="button-col">
                <ion-button (click)="likePost()" expand="full">
                  <ion-icon name="thumbs-up-outline" slot="start"></ion-icon>
                  Like
                </ion-button></ion-col><ion-col size="6" class="button-col"><ion-button (click)="toggleCommentSection()" expand="full" color="light"><ion-icon name="chatbox-outline" slot="start"></ion-icon>
                  Comment
                </ion-button>
              </ion-col>
            </ion-row> -->
        </ion-card-content>

        <!-- Comment section -->
        <ion-item *ngIf="showCommentSection">
          <ion-textarea
            [(ngModel)]="commentText"
            placeholder="Enter your comment"
          ></ion-textarea>
          <ion-button (click)="postComment()" expand="full" color="new"
            >Post Comment</ion-button
          >
        </ion-item>

        <ul class="blog-content-page__comments-list">
          <li
            class="blog-content-page__comments-list-item"
            *ngFor="let comment of item.comments"
          >
            <div class="blog-content-page__comments-list-item-profile-img">
              {{comment.email[0].toUpperCase()}}
            </div>
            <div
              class="blog-content-page__comments-list-item-email-and-comment-wrapper"
            >
              <span class="blog-content-page__comments-list-item-email">
                {{comment.email}}
              </span>
              <span class="blog-content-page__comments-list-item-comment">
                {{comment.comment}}
              </span>
            </div>
          </li>
        </ul>

        <!-- <ion-button aria-label="Favorite">
            <ion-icon name="heart" aria-hidden="true"></ion-icon>
          </ion-button> -->

        <!-- </ion-card> -->
        <!-- Your post content here -->

        <!-- <ion-button (click)="likePost()" expand="full" color="new">
    <ion-icon name="thumbs-up-outline" slot="start"></ion-icon>
    Like
  </ion-button>

  <ion-button (click)="toggleCommentSection()" expand="full" color="new">
    <ion-icon name="chatbox-outline" slot="start"></ion-icon>
    Comment
  </ion-button> -->

        <!-- Comment section -->
        <!-- <ion-item *ngIf="showCommentSection">
    <ion-textarea [(ngModel)]="commentText" placeholder="Enter your comment"></ion-textarea>
    <ion-button (click)="postComment()" expand="full" color="new">Post Comment</ion-button>
  </ion-item> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
