<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/prof-course-content"></ion-back-button>
    </ion-buttons>
    <ion-title>Update WeeklyCourse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <div class="ion-padding-top">
    <ion-card color="white">
      <ion-card-header color="new" class="custom-header">
        <ion-card-title class="custom-title"
          >Weekly Course Content Details</ion-card-title
        >
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-icon
            name="calendar-outline"
            color="tertiary"
            class="icon-spacing"
          ></ion-icon>
          <ion-select placeholder="Select a week" [(ngModel)]="Week">
            <ion-select-option value="week1" color="dark"
              >First Week</ion-select-option
            >
            <ion-select-option value="week2">Second Week</ion-select-option>
            <ion-select-option value="week3">Third Week</ion-select-option>
            <ion-select-option value="week4">Fourth Week</ion-select-option>
            <ion-select-option value="week5">Fifth Week</ion-select-option>
            <ion-select-option value="week6">Sixth Week</ion-select-option>
            <ion-select-option value="week7">Seventh Week</ion-select-option>
            <ion-select-option value="week8">Eighth Week</ion-select-option>
            <ion-select-option value="week9">Ninth Week</ion-select-option>
            <ion-select-option value="week10">Tenth Week</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-icon
            name="videocam-outline"
            color="warning"
            class="icon-spacing"
          ></ion-icon>
          <ion-input
            placeholder="Write image link here"
            type="file"
            (change)="onVideoFileChange($event)"
          >
          </ion-input>
          <ion-button color="new" (click)="uploadFiles('video')">
            {{ uploadInProgressVideo ? 'Uploading...' : (uploadStatusVideo ?
            'Update Video' : 'Upload Video') }}
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-icon
            name="videocam-outline"
            color="success"
            class="icon-spacing"
          ></ion-icon>
          <ion-input
            placeholder="Give a video Link"
            [(ngModel)]="videoLink"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon
            name="document-outline"
            color="warning"
            class="icon-spacing"
          ></ion-icon>
          <ion-input
            placeholder="Write image link here"
            type="file"
            (change)="onFileChange($event)"
          >
          </ion-input>
          <ion-button color="new" (click)="uploadFiles('file')">
            {{ uploadInProgressFile ? 'Uploading...' : (uploadStatusFile ?
            'Update Pdf' : 'Upload Pdf') }}
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-icon
            name="document-outline"
            color="red"
            class="icon-spacing"
          ></ion-icon>
          <ion-input
            placeholder="Enter your pdf link here"
            [(ngModel)]="Readingmeterial"
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-icon
            name="document-text-outline"
            color="primary"
            class="icon-spacing"
          ></ion-icon>
          <ion-input
            placeholder="Give Assignment to your Students"
            [(ngModel)]="Assignment"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon
            name="documents-outline"
            color="danger"
            class="icon-spacing"
          ></ion-icon>
          <ion-input
            placeholder="Give a pdf link for addl content"
            [(ngModel)]="AdditionalContent"
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-icon
            name="megaphone-outline"
            color="warning"
            class="icon-spacing"
          ></ion-icon>
          <ion-input
            placeholder="Anounce if Something to mention"
            [(ngModel)]="Announcement"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon
            name="calendar-outline"
            color="hello"
            class="icon-spacing"
          ></ion-icon>
          <ion-input
            placeholder="Select start date"
            type="date"
            [(ngModel)]="StartDate"
          >
            Start Date:</ion-input
          >
        </ion-item>

        <ion-item>
          <ion-icon name="calendar-outline" color="gb" class="icon-spacing">
          </ion-icon>
          <ion-input
            placeholder="Select End date"
            type="date"
            [(ngModel)]="EndDate"
            >End Date:
          </ion-input> </ion-item
        ><br />

        <ion-button
          class="update-week-page__update-week-btn"
          size="full"
          shape="round"
          (click)="updateCourse()"
          >Update Week</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
