<ion-header class="ion-no-border">
  <ion-toolbar class="ion-header">
    <app-greeting></app-greeting>

    <ion-fab vertical="top" horizontal="end" class="calender">
      <ion-fab-button color="transparent" (click)="addTask()" size="small">
        <ion-icon name="calendar-number-outline" size="small"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-searchbar
      placeholder="Search your topic"
      color="transparent"
      [(ngModel)]="searchText"
      style="--border-radius: 30px"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-container">
    <ion-grid class="ion-padding-horizontal">
      <ion-row class="ion-align-items-center ion-margin-top">
        <ion-col size="12">
          <ion-label class="L">Explore categories </ion-label>
        </ion-col>
        <ion-col
          size="12"
          size-sm="6"
          size-md="4"
          size-lg="3"
          size-xl="3"
          *ngFor="let item of weeklyCourse | searchFilter: searchText: 'CourseName'"
        >
          <!-- here iam giving item.id -->
          <ion-card class="tab1-page__course-card" (click)="cardClicked(item)">
            <img
              src="{{item.CourseDetails.CourseImage}}"
              class="tab1-page__course-card-img"
            />
            <ion-card-header>
              <ion-card-title>
                {{ item.CourseDetails.CourseName }}
              </ion-card-title>
              {{item.CourseDetails.ProfessorName}}
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
