<!-- <ion-header class="ion-no-border">
  <ion-toolbar color="new">
    <ion-title>BlogPosts</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-segment
    style="background-color: rgb(6, 6, 6)"
    color="primary"
    [(ngModel)]="selectTabs"
  >
    <ion-segment-button value="allBlogs" (click)="handleOnclickAllBlogs()">
      <ion-label>All Blogs</ion-label>
    </ion-segment-button>
    <ion-segment-button value="yourBlogs" (click)="handleOnclickYourBlogs()">
      <ion-label>Your Blogs</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- in this ngFor is loop the data in blogs..,, blogs is server side file  -->
  <!-- Loop through the blogs data  -->
  <div *ngIf="selectTabs === 'allBlogs'">
    <!-- <div > -->
    <ion-row class="tab6-page__allblogs-row-item">
      <ion-col
        *ngFor="let item of blogs"
        color="primary"
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3"
        size-xl="3"
      >
        <h1>{{item.count}}</h1>

        <!-- <ion-card class="card-margin"> -->
        <ion-card
          class="rounded-card"
          color="white"
          (click)="cardClick(item)"
          class="tab6card"
        >
          <ion-img class="tab6-page__allblogs-card-img" src="{{item.images}}" />

          <!-- <ion-img src="/assets/Natural-Image.jpg"></ion-img> -->

          <ion-card-content>
            <!-- Display the date and time -->
            <ion-card-title class="highlight">{{item.title}}</ion-card-title>
            <p class="tab6-page__allblogs-card-timestamp">
              {{ item.timestamp | date: 'yyyy-MM-dd' }} {{ item.timestamp |
              date: 'hh:mm a' }}
            </p>
            <!-- <br /> -->
            <p class="tab6-page__allblogs-card-name">{{item.Name}}</p>
          </ion-card-content>
        </ion-card>

        <!-- <div class="button-container">
        <ion-button class="button-s" (click)="update(item)" slot="end" color="new">Update
          <ion-icon slot="icon-only" name="create-outline" size="small"></ion-icon>
        </ion-button>
      
        <ion-button class="button-sr" (click)="delete(item._id)" color="new">Delete
          <ion-icon slot="icon-only" name="trash-outline" size="small"></ion-icon>
        </ion-button>
      </div> -->
        <!-- </ion-card> -->

        <!-- <button (click)="update(item)" color="tertiary"> -->
        <!-- <div class="button-container">
      <ion-button class="button-s" (click)="update(item)" slot="end" color="new">Update
        <ion-icon slot="icon-only" name="create-outline" size="small"></ion-icon>
      </ion-button>
    
      <ion-button class="button-sr" (click)="delete(item._id)" color="new">Delete
        <ion-icon slot="icon-only" name="trash-outline" size="small"></ion-icon>
      </ion-button>
    </div> -->
      </ion-col>
    </ion-row>
    <!-- </div> -->
  </div>

  <div *ngIf="selectTabs === 'yourBlogs'">
    <!-- <div > -->
    <!-- <div *ngIf="item.username === username"> -->
    <ion-row class="tab6-page__allblogs-row-item">
      <ion-col
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3"
        size-xl="3"
        color="primary"
        *ngFor="let item of userBlogs"
      >
        <h1>{{item.count}}</h1>

        <!-- <ion-card > -->
        <ion-card class="card-margin" color="white" (click)="cardClick(item)">
          <ion-img class="tab6-page__allblogs-card-img" src="{{item.images}}" />

          <!-- <ion-img src="/assets/Natural-Image.jpg"></ion-img> -->

          <ion-card-content>
            <!-- Display the date and time -->
            <ion-card-title class="highlight">{{item.title}}</ion-card-title>
            <p class="tab6-page__allblogs-card-timestamp">
              {{ item.timestamp | date: 'yyyy-MM-dd' }} {{ item.timestamp |
              date: 'hh:mm a' }}
            </p>
            <!-- <br /> -->
            <p class="tab6-page__allblogs-card-name">{{item.Name}}</p>
          </ion-card-content>

          <div class="tab6-page__update-and-delete-btns-wrapper">
            <button
              class="tab6-page__update-and-delete-btns update-btn"
              (click)="update(item)"
            >
              <ion-icon
                slot="icon-only"
                name="create-outline"
                style="font-size: 20px"
              ></ion-icon>
            </button>

            <button
              class="tab6-page__update-and-delete-btns delete-btn"
              (click)="delete(item._id)"
            >
              <ion-icon
                slot="icon-only"
                name="trash-outline"
                style="font-size: 20px"
              ></ion-icon>
            </button>
          </div>
        </ion-card>
        <!-- </ion-card> -->

        <!-- <button (click)="update(item)" color="tertiary"> -->
        <!-- <div class="button-container">
      <ion-button class="button-s" (click)="update(item)" slot="end" color="new">Update
        <ion-icon slot="icon-only" name="create-outline" size="small"></ion-icon>
      </ion-button>
    
      <ion-button class="button-sr" (click)="delete(item._id)" color="new">Delete
        <ion-icon slot="icon-only" name="trash-outline" size="small"></ion-icon>
      </ion-button>
    </div> -->
      </ion-col>
    </ion-row>

    <!-- </div> -->
    <!-- </div> -->
  </div>

  <ion-fab>
    <ion-fab-button (click)="blogPost()" color="new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
