ion-toolbar {
  border-radius: 0 0 10px 10px;
  --background: #ffaa01;
}

ion-header {
  --ion-background-color: rgb(63, 127, 224);
}

ion-title {
  color: rgb(19, 18, 18);
  font-weight: bold;
}
ion-card-title.highlight {
  font-weight: bold;
  color: #2e97ec;
}

p {
  margin-block-start: auto;
  margin-inline: start;
  padding-inline-start: 0%;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Adjust alignment as needed */
  align-items: center; /* Adjust alignment as needed */
  padding-left: 145px;
  padding-bottom: 5px;
  padding-right: 20px;
}

ion-fab-button {
  --background: #ffaa01;
}

ion-fab {
  position: fixed;
  bottom: 50px;
  right: 6px;
  margin: 16px;
  /* Add optional padding or other styles as needed */
}

.card-margin {
  border-radius: 10px;
  border: 1px solid #8d8585; /* Adjust the color and thickness as needed */
  margin-left: 0px;
  margin-right: -0px;
  position: relative;
}

ion-segment {
  border-radius: 0 0 10px 10px;
  padding-top: 4px;
}

ion-card {
  /* Adjust card styling for smaller screens */
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(15, 15, 15, 0.2);
  background-color: #fff1de;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .ion-card-title {
    font-size: 1.2rem;
  }
}

// styles added by "manikanta"
.tab6-page__allblogs-card-img {
  height: 200px;
  object-fit: fill;
}

.tab6-page__allblogs-card-timestamp {
  color: grey;
}

.tab6-page__allblogs-card-name {
  font-size: 20px;
  font-weight: bold;
  color: grey;
}

.tab6-page__update-and-delete-btns-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 78%;
}

.tab6-page__update-and-delete-btns {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.update-btn {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: black;
  background-color: rgb(209, 209, 209);
}

.update-btn:hover {
  background-color: rgba(202, 202, 202, 0.448);
}

.delete-btn {
  background-color: transparent;
}
