ion-toolbar {
  border-radius: 0 0 10px 10px;
}
// ion-content{
//     --ion-background-color: rgb(238, 243, 243);
//  }
ion-header {
  --ion-background-color: rgb(63, 127, 224);
}
ion-card.rounded-card {
  margin-left: 0.5px;
  margin-right: 0.5px;
  margin-top: 0.5px;
  border: 1px solid #fffcfc; /* Adjust the color and thickness as needed */
  border-radius: 8px; /* Adjust the border radius as needed */
  border-radius: 10px;
  box-shadow: 0 8px 10px rgba(15, 15, 15, 0.425);
}
ion-title {
  color: rgb(19, 18, 18);
  font-weight: bold;
}
ion-card-title.highlight {
  font-weight: bold;
  color: #2e97ec;
}

p {
  margin-block-start: auto;
  margin-inline: start;
  padding-inline-start: 0%;
}
/* Styling for the button with class "button-s" */
ion-button.button-s {
  --background: #2e97ec; /* Set the background color */
  --color: #21be26; /* Set the text color */
}

//   /* Styling for the button with class "button-sr" */
ion-button.button-sr {
  --background: #2e97ec; /* Set the background color */
  --color: #eb1313; /* Set the text color */
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Adjust alignment as needed */
  align-items: center; /* Adjust alignment as needed */
  padding-left: 145px;
  padding-bottom: 5px;
  padding-right: 20px;
}

ion-fab {
  position: fixed;
  bottom: 50px;
  right: 6px;
  margin: 16px;
  /* Add optional padding or other styles as needed */
}

.card-margin {
  border-radius: 10px;
  border: 1px solid #8d8585; /* Adjust the color and thickness as needed */
  // border-radius: 8px;
  margin-left: 0px;
  margin-right: -0px;
}

ion-segment {
  --background: #dcdfdf;
  border-radius: 0 0 10px 10px;
  padding-top: 4px;
}
ion-card.tab6card {
  margin-left: 0.5px;
  margin-right: 0.5px;
  margin-top: 0.5px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 8px 10px rgba(15, 15, 15, 0.425);

  border: 1px solid #fffcfc; /* Adjust the color and thickness as needed */
  border-radius: 8px; /* Adjust the border radius as needed */
  border-radius: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  ion-card {
    /* Adjust card styling for smaller screens */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(15, 15, 15, 0.2);
  }

  .ion-card-title {
    font-size: 1.2rem;
  }
}

// styles added by "manikanta"
.tab6-page__allblogs-card-img {
  height: 200px;
  object-fit: fill;
}

.tab6-page__allblogs-card-timestamp {
  color: grey;
}

.tab6-page__allblogs-card-name {
  font-size: 20px;
  font-weight: bold;
  color: grey;
}
