<ion-content [fullscreen]="true">
  <ion-segment color="warning" fill="translucent" [(ngModel)]="selectTabs">
    <ion-segment-button value="allBlogs" (click)="handleOnclickAllBlogs()">
      <ion-label>All Blogs</ion-label>
    </ion-segment-button>
    <ion-segment-button value="yourBlogs" (click)="handleOnclickYourBlogs()">
      <ion-label>Your Blogs</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- in this ngFor is loop the data in blogs..,, blogs is server side file  -->
  <!-- Loop through the blogs data  -->
  <div *ngIf="selectTabs === 'allBlogs'">
    <ion-row class="tab6-page__allblogs-row-item">
      <ion-col
        *ngFor="let item of blogs"
        color="primary"
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3"
        size-xl="3"
      >
        <ion-card color="white" (click)="cardClick(item._id)">
          <ion-img class="tab6-page__allblogs-card-img" src="{{item.images}}" />

          <ion-card-content>
            <!-- Display the date and time -->
            <ion-card-title class="highlight">{{item.title}}</ion-card-title>
            <p class="tab6-page__allblogs-card-timestamp">
              {{ item.timestamp | date: 'yyyy-MM-dd' }} {{ item.timestamp |
              date: 'hh:mm a' }}
            </p>
            <p class="tab6-page__allblogs-card-name">{{item.Name}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="selectTabs === 'yourBlogs'">
    <ion-row class="tab6-page__allblogs-row-item">
      <ion-col
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3"
        size-xl="3"
        color="primary"
        *ngFor="let item of userBlogs"
      >
        <ion-card>
          <ion-img
            (click)="cardClick(item._id)"
            class="tab6-page__allblogs-card-img"
            src="{{item.images}}"
          />

          <ion-card-content>
            <!-- Display the date and time -->
            <ion-card-title class="highlight">{{item.title}}</ion-card-title>
            <p class="tab6-page__allblogs-card-timestamp">
              {{ item.timestamp | date: 'yyyy-MM-dd' }} {{ item.timestamp |
              date: 'hh:mm a' }}
            </p>
            <p class="tab6-page__allblogs-card-name">{{item.Name}}</p>
          </ion-card-content>

          <div class="tab6-page__update-and-delete-btns-wrapper">
            <button
              class="tab6-page__update-and-delete-btns update-btn"
              (click)="update(item)"
            >
              <ion-icon
                slot="icon-only"
                name="create-outline"
                style="font-size: 20px"
              ></ion-icon>
            </button>

            <button
              class="tab6-page__update-and-delete-btns delete-btn"
              (click)="delete(item._id)"
            >
              <ion-icon
                slot="icon-only"
                name="trash-outline"
                style="font-size: 20px; color: #ffaa00"
              ></ion-icon>
            </button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <ion-fab>
    <ion-fab-button (click)="blogPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
