ion-toolbar {
  --background: #ffaa01;
}

ion-list.custom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: transparent;
  margin-top: 2rem;
}

img {
  width: 100%;
}

.forgot-page__email-item {
  width: 80%;
  min-width: 320px;
  border-radius: 10px;
  // overflow: hidden;
}

ion-input {
  font-size: 14px;
}

.forgot-page__submit-btn-wrapper {
  display: flex;
  // align-items: center;
  // justify-content: center;
  margin: 30px 0;
}

.forgot-page__submit-btn {
  width: 80%;
  min-width: 320px;
  height: 45px;
  --background: #ffaa01;
}

@media screen and (min-width: 767px) {
  .forgot-page__img-and-email-input-wrapper {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px);
  }

  img {
    width: 50%;
  }

  ion-list.custom-content {
    width: 50%;
    // height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: transparent;
    margin-top: 2rem;
  }
}
