ion-title{
    padding-left: 13vh;
    font-size: x-large;
}
ion-button{
     margin: 10px;
    padding: 4px;
 padding-left: 9vh;
}
/* global.scss or your component styles */
.success-toast {
    --background: green;
    color: white;
  }
  
  .error-toast {
    --background: red;
    color: white;
  }
  