//styles by "manikanta"
ion-toolbar {
  --background: #ffaa01;
}

.student-profile-page__enrolled-courses-title-and-btn-wrapper {
  display: flex;
  align-items: center;
}

.student-profile-page__enrolled-course-btn {
  font-size: 10px;
}

.student-profile-page__enrolled-courses-card {
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.student-profile-page__enrolled-courses-items {
  list-style-type: none;
  background-color: rgb(155, 155, 155);
  padding: 10px 20px;
  border-radius: 30px;
}

ion-card {
  box-shadow: none;
}
