/* Custom styles for the profile page */

ion-header {
    ion-toolbar {
      --background: #007bff; /* Change the primary header background color */
      color: #fff;
    }
  }
  
  .profile-card {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  // .round {
  //   border-radius: 50%;
  //   overflow: hidden;
  // }
  .profile-picture {
    height: 220px;
    // display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5; /* Add a background color for the profile picture container */
    position: relative; /* Make the container relative for absolute positioning */
    // display: inline-block; /* To wrap content around the image */
  }
 
  .camera-button,
  .upload-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 14px; /* Adjust font size for buttons */
  }
  
  .camera-button ion-icon {
    font-size: 24px;
    margin-right: 5px; /* Add a small margin between icon and text */
  }
  
  .upload-button {
    bottom: 30px; /* Adjust vertical positioning for the second button */
  }
  
  
  
  .profile-picture img {
    max-width: 100%;
    // max-height: 100%;
     border-radius: 50%;
    // object-fit: cover;
  }
  
  ion-card-content {
    padding: 20px;
  }
  
  ion-item ion-icon {
    color: #007bff; /* Change the color of the icons */
  }
  
  .delete-button {
    margin-top: 20px;
  
  }
  .update{
    margin-top: 20px;
    padding-left: 200px;
  }
  .updated{
    padding-left: 120px;
  }
  .block-button{
    margin-left: 87%;
    margin-top: 20px;
    color: red;
  }
  .unblock-button{
    margin-left: 87%;
     margin-top: 20px;
     color: red;
  }

  @media only screen and (max-width: 768px) {
    /* ... Your tablet/laptop styles here ... */
    .block-button{
      margin-left: 79%;
      margin-top: 20px;
      color: red;
    }
    .unblock-button{
      margin-left: 79%;
       margin-top: 20px;
       color: red;
    }
  }

  @media only screen and (max-width: 480px) {
    /* ... Your tablet/laptop styles here ... */
    .block-button{
      margin-left: 57%;
      margin-top: 20px;
      color: red;
    }
    .unblock-button{
      margin-left: 57%;
       margin-top: 20px;
       color: red;
    }
  }
  