<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sign-in" color="dark"></ion-back-button>
  </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/forgot-password.avif">

  <ion-item color="light" lines="none">
    <ion-icon name="person-outline" slot="start" color="tertiary"></ion-icon>
    <ion-label position="floating">Email</ion-label>
    <ion-input placeholder="Enter your email"></ion-input>
  </ion-item>

</ion-content>
