<ion-content *ngFor="let item of Course" class="content-padding">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      {{ item.CourseName }}
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/tabs/student-side-courses-page"
          color=""
        ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="9" size-lg="8" size-xl="5.5">
      <ion-card-content>
        <ng-container *ngFor="let content of item.CourseContent">
          <ion-card class="card-margin">
            <ion-card-header>
              <ion-card-title> {{ content.week }} </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <div *ngIf="content.startDate" class="week-content-items-wrapper">
                <ion-icon
                  name="calendar-outline"
                  class="icon-spacing"
                  color="success"
                ></ion-icon>
                <ion-label style="font-size: 14px; font-weight: 400">
                  {{ content.startDate }}
                  <span style="font-weight: bold">to</span> {{ content.endDate
                  }}
                </ion-label>
              </div>

              <div
                *ngIf="content.assignment"
                class="week-content-items-wrapper"
              >
                <ion-icon
                  name="document-text-outline"
                  class="icon-spacing"
                  color="tertiary"
                ></ion-icon>
                <ion-label
                  [innerHTML]="linkify(content.assignment)"
                  style="font-size: 14px; font-weight: 400"
                >
                </ion-label>
              </div>

              <div
                *ngIf="content.additionalContent"
                class="week-content-items-wrapper"
              >
                <ion-icon
                  name="documents-outline"
                  class="icon-spacing"
                  color="danger"
                ></ion-icon>
                <ion-label style="font-size: 14px; font-weight: 400">
                  {{content.additionalContent}}
                </ion-label>
              </div>

              <div
                *ngIf="content.announcement"
                class="week-content-items-wrapper"
              >
                <ion-icon
                  name="documents-outline"
                  class="icon-spacing"
                  color="gb"
                ></ion-icon>
                <ion-label style="font-size: 14px; font-weight: 400">
                  {{content.announcement}}
                </ion-label>
              </div>

              <div class="week-content-items-wrapper">
                <ion-icon
                  name="document-outline"
                  class="icon-spacing"
                  color="warning"
                ></ion-icon>
                <ion-label style="font-size: 14px; font-weight: 400">
                  <a
                    style="text-decoration: none"
                    href="{{content.pdf}}"
                    target="_blank"
                  >
                    Click here to download study material PDF</a
                  >
                </ion-label>
              </div>

              <div class="week-content-items-wrapper">
                <ion-icon
                  name="videocam-outline"
                  class="icon-spacing"
                  color="dark"
                ></ion-icon>
                <ion-label style="font-size: 14px; font-weight: 400">
                  <a
                    style="text-decoration: none"
                    href="{{content.videoLink}}"
                    target="_blank"
                  >
                    Click here to open video</a
                  >
                </ion-label>
              </div>

              <div *ngIf="content.courseVideo" id="video-player">
                <video
                  id="fp_docs_player_0"
                  class="fp_docs_player_0"
                  controls
                  style="width: 100%; height: 100%"
                >
                  <source src="{{content.courseVideo}}" type="video/mp4" />
                  Your browser does not support the video tag.
                </video>
              </div>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-content>
