<ion-content *ngFor="let item of Course" class="content-padding">
  <ion-header class="ion-no-border">
    <ion-toolbar color="new">
      {{ item.CourseName }}
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/tabs/student-side-courses-page"
          color=""
        ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="9" size-lg="8" size-xl="5.5">
      <!-- <ion-card color="white"> -->
      <!-- <ion-card-header color="tertiary">
            <ion-card-title>
              {{ item.CourseName }}
            </ion-card-title>
          </ion-card-header> -->

      <ion-card-content>
        <ng-container *ngFor="let content of item.CourseContent">
          <ion-card class="card-margin">
            <ion-card-header>
              <ion-card-title> {{ content.week }} </ion-card-title>
            </ion-card-header>

            <!-- <ion-card-content>
              <ion-note>
                <ion-icon
                  name="calendar-outline"
                  class="icon-spacing"
                  color="success"
                ></ion-icon>
                {{ content.startDate }} to {{ content.endDate }}<br />
                <ion-icon
                  name="document-outline"
                  class="icon-spacing"
                  color="tertiary"
                ></ion-icon>
                <a href="{{content.readingmeterial}}" target="_blank"
                  >{{content.readingmeterial}}</a
                ><br />
                <ion-icon
                  name="document-text-outline"
                  class="icon-spacing"
                  color="danger"
                ></ion-icon>
                {{content.assignment}}<br />
                <ion-icon
                  name="documents-outline"
                  class="icon-spacing"
                  color="gb"
                ></ion-icon>
                <a href="{{content.additionalContent}}" target="_blank"
                  >{{content.additionalContent}}</a
                ><br />
                <ion-icon
                  name="megaphone-outline"
                  class="icon-spacing"
                  color="warning"
                ></ion-icon>
                {{content.announcement}}<br /><br />

                <video
                  id="fp_docs_player_0"
                  class="fp_docs_player_0"
                  controls
                  style="width: 100%; height: 100%"
                >
                  <source src="{{content.courseVideo}}" />

                  .mkv
                </video>
              </ion-note>
            </ion-card-content> -->

            <ion-card-content>
              <!-- <ion-note> -->

              <div *ngIf="content.startDate" class="week-content-items-wrapper">
                <ion-icon
                  name="calendar-outline"
                  class="icon-spacing"
                  color="success"
                ></ion-icon>
                <ion-label style="font-size: 14px; font-weight: 400">
                  {{ content.startDate }}
                  <span style="font-weight: bold">to</span> {{ content.endDate
                  }}
                </ion-label>
              </div>

              <!-- <div
              *ngIf="content.readingmeterial"
              class="week-content-items-wrapper"
            >
              <ion-icon name="document-outline" class="icon-spacing"></ion-icon>
              <ion-label style="font-size: 14px; font-weight: 400">
                {{content.readingmeterial}}
              </ion-label>
            </div> -->

              <div
                *ngIf="content.assignment"
                class="week-content-items-wrapper"
              >
                <ion-icon
                  name="document-text-outline"
                  class="icon-spacing"
                  color="tertiary"
                ></ion-icon>
                <ion-label
                  [innerHTML]="linkify(content.assignment)"
                  style="font-size: 14px; font-weight: 400"
                >
                  <!-- {{content.assignment}} -->
                </ion-label>
              </div>

              <div
                *ngIf="content.additionalContent"
                class="week-content-items-wrapper"
              >
                <ion-icon
                  name="documents-outline"
                  class="icon-spacing"
                  color="danger"
                ></ion-icon>
                <ion-label style="font-size: 14px; font-weight: 400">
                  {{content.additionalContent}}
                </ion-label>
              </div>

              <div
                *ngIf="content.announcement"
                class="week-content-items-wrapper"
              >
                <ion-icon
                  name="documents-outline"
                  class="icon-spacing"
                  color="gb"
                ></ion-icon>
                <ion-label style="font-size: 14px; font-weight: 400">
                  {{content.announcement}}
                </ion-label>
              </div>

              <div class="week-content-items-wrapper">
                <ion-icon
                  name="document-outline"
                  class="icon-spacing"
                  color="warning"
                ></ion-icon>
                <ion-label style="font-size: 14px; font-weight: 400">
                  <a
                    style="text-decoration: none"
                    href="{{content.pdf}}"
                    target="_blank"
                  >
                    Click here to download study material PDF</a
                  >
                </ion-label>
              </div>

              <div class="week-content-items-wrapper">
                <ion-icon
                  name="videocam-outline"
                  class="icon-spacing"
                  color="dark"
                ></ion-icon>
                <ion-label style="font-size: 14px; font-weight: 400">
                  <a
                    style="text-decoration: none"
                    href="{{content.videoLink}}"
                    target="_blank"
                  >
                    Click here to open video</a
                  >
                </ion-label>
              </div>

              <!-- <video id='fp_docs_player_0' class="fp_docs_player_0" controls style="width: 100%; height: 100%x;"> <!--style="width: 370px; height: 240px;-->
              <!-- <source data-fluid-hd src='src="https://cdn.fluidplayer.com/videos/valerian-480p.mkv' />
                      <source data-fluid-hd src='src="https://cdn.fluidplayer.com/videos/valerian-720p.mkv'/> -->
              <!-- <source src="https://cdn.fluidplayer.com/videos/valerian-1080p.mkv" /> -->

              <!--mkv and mp4 videos are playing-->
              <!-- <source src="{{content.courseVideo}}" /> -->

              <!-- .mkv  -->
              <!-- </video> -->

              <div *ngIf="content.courseVideo" id="video-player">
                <video
                  id="fp_docs_player_0"
                  class="fp_docs_player_0"
                  controls
                  style="width: 100%; height: 100%"
                >
                  <source src="{{content.courseVideo}}" type="video/mp4" />
                  Your browser does not support the video tag.
                </video>
              </div>

              <!-- <div id="container">
                    <ion-button expand="block" color="primary" (click)="playOfflineVideo()">View Local Video</ion-button>
                    <ion-button expand="block" color="success" (click)="playOnlineVideo()">View Online Video</ion-button>
                    <ion-button expand="block" color="danger" (click)="closeVideoPlayer()">Close Video Player</ion-button>
                  </div> -->
            </ion-card-content>
          </ion-card>
        </ng-container>
      </ion-card-content>

      <!-- <div class="ion-padding-bottom">
            <ion-button shape="round" color="tertiary" expand="block" class="addWeek" (click)="addNewWeek(item)">Add new Week
              <ion-icon name="add-outline" slot="start"></ion-icon>
            </ion-button>
          </div> -->
      <!-- </ion-card> -->
    </ion-col>
  </ion-row>

  <!-- <ion-row>
      <ion-col>
        <div class="card-container">
          <ion-card-content>
            <ng-container *ngFor="let content of item.CourseContent">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    {{ content.week }}
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-note>
                    {{ content.startDate }} - {{ content.endDate }}<br>
                    {{content.readingmeterial}}<br>
                    {{content.assignment}}<br>
                    {{content.additionalContent}}<br>
                    {{content.annoncement}}<br><br>
                    <div class="buttons">
                      <ion-button shape="round" class="update" (click)="update(content)">update
                        <ion-icon name="create-outline" slot="start"></ion-icon>
                      </ion-button>
                      <ion-button shape="round" class="del" (click)="deleteWeek(content)">Delete
                        <ion-icon name="trash-outline" slot="start"></ion-icon>
                      </ion-button>
                    </div>
                  </ion-note>
                </ion-card-content>
              </ion-card>
            </ng-container>
          </ion-card-content>
        </div>
        <div class="ion-padding-bottom">
          <ion-button shape="round" expand="block" class="addWeek" (click)="addNewWeek(item)">Add new Week
            <ion-icon name="add-outline" slot="start"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row> -->
</ion-content>
